<doctype html>
  <html class=container>
    <head>
      <title>Hire Me</title>
      {%include 'bootstrap.html'%}
      <style>
        body {
          margin: 0;
          padding: 0;
          background-color: #333; 
          color: #fff;
        }
      </style>
    </head>
    <body>
      <img class="img-fluid mt-2 mb-2" src='static/contact.jpg'>
       <h1 class="text-center mt-0 mb-4" style="font-family:cursive; color:orange;">Contact Details</h1>
      <p class="lead" style="font-size:24px;"><b>Name :</b>  Gaddam. Jaya Krishna</p>

      <p class="lead" style="font-size:24px;"><b>Email :</b>  jayakrishnagaddam96@gmail.com (Copy and Open Mail...)
      <a class="btn btn-warning lead"  style="font-size:24px;" aria-current="page" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">Open Email</a></p>
      <p class="lead" style="font-size:24px;"><b>Address :</b>  Kandipadu(V), Bellamkonda(MD), Palnadu(DT), Andhra Pradesh, India</p>
       <p class="lead" style="font-size:24px;"><b>Door No :</b>  6-122/B</p>

       <p class="lead" style="font-size:24px;"><b>Pin Code :</b>  522411</p>
       <p class="lead" style="font-size:24px;"><b>Mobile Number(1)  :</b>  +91 9553263983</p>
       <p class="lead" style="font-size:24px;"><b>Mobile Number(2)  :</b>  +91 9059587021</p>
      {%include 'footer.html'%}
    </body>
  </html>