<table class="table table-striped table-dark mb-4" style="font-size:20px;">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">DEGREE</th>
      <th scope="col">INSTITUTION</th>
      <th scope="col">ACADEMIC YEAR</th>
       <th scope="col">PERCENTAGE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>B.Tech (CS&IT)</td>
      <td>KL University, Vijayawada, Andhra Pradesh, India</td>
      <td>2021-2025</td>
       <td>9.12 (CGPA)</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Intermediate (MPC)</td>
      <td>Bhashyam Junior college, Guntur, Andhra Pradesh</td>
      <td>2019-2021</td>
       <td>92.6%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>10th (SSC)</</td>
      <td>Bhashyam High School, Guntur, Andhra Pradesh</td>
      <td>2018-2019</td>
      <td>9.3 (CGPA)</td>
    </tr>
  </tbody>
</table>