<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    .navbar {
        background-color: #1f1f1f;
    }
    
    .navbar-nav .nav-link {
        color: antiquewhite !important;
        font-size: 18px;

    }
    .navbar-nav .nav-link:hover {
        color: #ffc107 !important;
    }
    .navbar-toggler {
        border-color: antiquewhite;
    }
    .navbar-toggler-icon {
        background-color: antiquewhite;
    }
   
    .navbar-nav {
        align-items: center;
    }
    
</style>
</head>
<body>
  <nav id="navid" class="navbar navbar-expand fixed-top bg-black">
    <div class="container-fluid">
      <a style="color:antiquewhite;" class="navbar-brand">JAYA KRISHNA Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="text-center" style="position: relative; left: 250px;">
            <ul class="navbar-nav text-center ">
                <li class="nav-item">
                    <a class="nav-link active" href="https://1drv.ms/b/s!AjVIg8oOGcj7gv9M1nx378telYS0Uw?e=CZFWrd" 
                    target="_blank">Resume 📄</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">About ℹ️</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills 💼</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Education">Education 📚</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('projects')}}">Project Gallery 📋</a>
                </li>
              
                <li class="nav-item" style="position:relative; left: 260px;">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label style="color: antiquewhite;" class="form-check-label" for="flexSwitchCheckChecked">Weekend Mode 😉</label>
                    </div>
                </li>
            </ul>
            </div>
    </div>
</nav>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    document.getElementById('flexSwitchCheckChecked').addEventListener('change', function () {
        if (this.checked) {
            window.location.href = '/weekend';
        }
    });
</script>
</body>
</html>
