<dictype html>
  <html>
    <head>
      <style>
        body {
          padding-top: 5px; /* Adjust the value based on your navbar height */
          margin: 0;
        }

        .navbar-nav .nav-link {
          color: white !important;
        }
        .navbar-light .navbar-nav .nav-link {
          color: white !important;
        }

        .navbar-light .navbar-toggler-icon {
          background-color: white !important;
        }
      </style>
    </head>
    <body>
      <div class="container mb-0">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link inactive" style="font-size:23px;"aria-current="page"><b>JAYA KRISHNA</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" style="font-size:21px;"aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" style="font-size:21px;" aria-current="page" href="https://1drv.ms/b/s!AjVIg8oOGcj7gv5LWX4MGudaThQyZQ?e=z9yrT3" target="_blank">My Resume</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </body>
  </html>