<!DOCTYPE html>
<html>
    <head>
        {%include 'bootstrap.html'%}
        
        <style>
    #d{
        color: antiquewhite;
    }
            
        </style>
</head>
<body>
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
      <button class="carousel-control-prev position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Inner -->
    <div id="d" class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
                <div style="position: relative; left: 120px;">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                style="width: 150px;" />
                </div>
              <h5 class="mb-3 ">Mr.Ch.Srinivas</h5>
              <p>Hackathon Teammate</p>
              <p>
                <i class="fas fa-quote-left"></i>
                💬 Teaming up with JayaKrishna at the Hackathon was an absolute pleasure.With JayaKrishna on board, 
                I have no doubt that we can tackle any future Hackathon challenge with confidence and enthusiasm...
                          </p>
              
            </div>
            <div class="col-lg-4">
                <div style="position: relative; left: 120px;">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                style="width: 150px;" />
                </div>
              <h5 class="mb-3 ">Dr.P.Srihari</h5>
              <p>Python Proffesor</p>
              <p>
                <i class="fas fa-quote-left"></i>
                🖋️ Teaching Jaya Krishna in my Python programming 
                class has been a rewarding experience. 
                He consistently demonstrates a strong grasp of Python 
                fundamentals and applies them effectively in assignments and projects...
              </p>
              
            </div>
            <div class="col-lg-4">
                <div style="position: relative; left: 120px;">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                style="width: 150px;" />
                </div>
              <h5 class="mb-3 ">Anna Deynah</h5>
              <p>UX Designer</p>
              <p>
                <i class="fas fa-quote-left"></i>
                📝 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                officiis hic tenetur quae quaerat ad velit ab hic tenetur.
              </p>
              
            </div>

  
  
  
           
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
</body>

  </html>
