<!DOCTYPE html>
<html>
    <head>
        {%include 'bootstrap.html'%}
        
        <style>
    #di{
        color: antiquewhite;
    }
            
        </style>
</head>
<body>
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <div id="di" class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
                <div style="position: relative; left: 120px;">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="static\sreenivas.jpeg" alt="avatar"
                style="width: 150px;" />
                </div>
              <h5 class="mb-3 ">Mr.Ch.Srinivas</h5>
              <p>Hackathon Teammate</p>
              <p>
                <i class="fas fa-quote-left"></i>
                💬 Teaming up with JayaKrishna at the Hackathon was an absolute pleasure.With JayaKrishna on board, 
                I have no doubt that we can tackle any future Hackathon challenge with confidence and enthusiasm...
                          </p>
              
            </div>
            <div class="col-lg-4">
                <div style="position: relative; left: 120px;">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="static\womanpic.jpeg" alt="avatar"
                style="width: 150px;" />
                </div>
              <h5 class="mb-3 ">Dr.P.Srinidhi</h5>
              <p>Python Proffesor</p>
              <p>
                <i class="fas fa-quote-left"></i>
                🖋️ Teaching Jaya Krishna in my Python programming 
                class has been a rewarding experience. 
                He consistently demonstrates a strong grasp of Python 
                fundamentals and applies them effectively in assignments and projects...
              </p>
              
            </div>
            <div class="col-lg-4">
                <div style="position: relative; left: 120px;">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="static\bhargavpic.jpeg" alt="avatar"
                style="width: 150px;" />
                </div>
              <h5 class="mb-3 ">Mr.P.Eeshwar</h5>
              <p>Class Representative</p>
              <p>
                <i class="fas fa-quote-left"></i>
                📝 He always will be regular to class and one of the most active persons
                I have ever seen in the class. He does things in quite unique manner and has always been my 
                favorite classmate of all time.
              </p>
              
            </div>

  
  
  
           
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
</body>
  </html>